/*---------------------------------*/
/* BASIC SETUP
/*---------------------------------*/

:root {
  --clr-dark: #2f2f2f;
  --clr-neutral: #808080;
  --clr-accent: #e369e3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  background: var(--clr-dark);
  line-height: 1.5rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #fff;
}

header {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
/*---------------------------------*/
/* HEADINGS
/*---------------------------------*/

h1 {
  margin: 20px;
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.15rem;
}

/*---------------------------------*/
/* PARAGRAPHS
/*---------------------------------*/

p {
  padding-top: 20px;
  font-size: 110%;
  word-spacing: 0.03rem;
  letter-spacing: 0.03rem;
  text-align: center;
}

/*---------------------------------*/
/* BUTTONS
/*---------------------------------*/

.button {
  display: inline;
  border-color: #b150b1;
  padding: 0.5rem 1rem;
  background-color: var(--clr-accent);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-dark);

  transition: transform 5s ease;
}

.button:hover {
  transform: scale(0.95);
  /* TODO fix font weight on hover */
}

/*---------------------------------*/
/* ABOUT SECTION
/*---------------------------------*/

.about-section {
  padding: 0% 15%;
}

.about-me {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

/*---------------------------------*/
/* CARD SECTION
/*---------------------------------*/

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 1 250px;
  margin: 1rem;
  overflow: hidden;
  border: 1px solid var(--clr-neutral);
  border-radius: 0.5rem;
  max-height: 425px;
  padding: 10rem 0 0;
  background-size: cover;
  background-position: center;
  color: #fff;

  transition: transform 0.3s ease;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-programming {
  background-image: url('coding.jpg');
}

.card-gaming {
  background-image: url('game.jpg');
}

.card-gardening {
  background-image: url('lavender.jpg');
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 1)
  );
  height: 100%;

  transform: translateY(70%);
  transition: transform 0.3s ease;
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(0);
  transition-delay: 0.3s;
}

.card:focus-within .card-content {
  transition-duration: 0s;
}

.card:hover .card-content > *:not(.card-title),
.card:focus-within .card-content > *:not(.card-title) {
  opacity: 1;
}

.card:hover .card-content > *:not(.card-title) {
  transition-delay: 0.5s;
}

.card:focus-within .card-content > *:not(.card-title) {
  transition-delay: 0.3s;
}

.card-title {
  position: relative;
  margin: 0px;
  width: max-content;
  padding-bottom: 7px;
}

.card-title::after {
  content: '';
  position: absolute;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  height: 4px;
  background-color: var(--clr-accent);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  margin: 10px 0px;
  padding: 0px;
  font-size: 100%;
}
